# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
* Python 
* R
* Julia

**Some of the popular languages that Data Scientists use are:**
1. Python 
2. R
3. Julia

**Some of the commonly used libraries used by Data Scientists include:**
1. ggplot
2. dplyr
3. caret

|Data Science Tools|
|------------------|
|Pandas|
|Hadoop|
|Tensorflow.js|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
YMI